html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  margin: 0;
  font-family:  Helvetica, Arial, sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.grid-container{
     display: grid;
     grid-template-areas: 
       'header'
       'main'
       'footer';
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
}

header{
   grid-area: "header";
   background-color: #203040;
}

.row{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   
}


.brand{
    font-size: 3rem;
    color: white;   
    margin-left: 5px;  
}

.brand:hover{
  color: orange;
}




.test-class{
  text-decoration: none;
}




a{
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

a:hover{
  color: orange;
}

main{
  grid-area: 'main';
  padding: 10px;
}

footer{
  grid-area: 'footer';
  background-color: #203040;
  color: white; 
}

.center{
  align-items: center;
  justify-content: center;
}

.form{
  max-width: 60rem;
  margin: 0 auto;
}


.form > div{
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label{
  margin: 1rem 0;
}


button{
  cursor: pointer;
  background-color: #f0c040;
}


input,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover {
  border: 0.1rem #404040 solid;
}

.category{
  color: red;
  background-color: yellow;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid red;
}

.category:hover{
  border: 0.1px solid gray;
}





